@import '../variables.scss';

$sidebar-width: 300px;

.sidebar {
  width: $sidebar-width;
  margin-left: -280px;
  height: 100%;
  box-shadow: 4px 0px 10px 0px rgb(218 218 218 / 80%);
  background-color: white;

  &_opened {
    margin-left: 0px;
  }

  &__button {
    position: relative;
    right: calc(16px - $sidebar-width);
    top: 50px;
  }
}