@import './header.mixins.scss';
@import '../variables.scss';

.header {
  height: $headerHeight;

  @include header-border;
  box-shadow: 0 0 4px 4px rgba(218, 218, 218, 0.8);

  display: flex;
  align-items: center;

  &__network-button {
    margin-left: auto;
  }

  &__account-icon {
    margin-left: 40px;
    margin-right: 20px;
  }
}