
@import "~@blueprintjs/core/lib/scss/variables";

// Figma colors
$menuBackground: #363F46;
$blue: #5BB4E6;
$button-text: #737373;
$green: #A2C72C;
$selected-row: #F3F7FD;
$listbox-lines: #D0D0D0;

// Blueprint colors
$pt-intent-primary: $blue;